<p *ngIf="selezioneA !== 0">
  Inserisci informazioni nuovo Post-it: <br><br>
 Inserire titolo e premere invio: <br>
  <input #nuovoTitolo (keyup.enter)="newTitle(nuovoTitolo.value) ;nuovoTitolo.value=''" />
  <br><br>
  Inserire messaggio e premere invio: <br>
  <input #nuovoMess (keyup.enter)="newMess(nuovoMess.value) ;nuovoMess.value=''" />
  <br><br>

  titolo scelto: {{newPost.titolo}} <br>
  messaggio: {{newPost.mess}}
  <br><br>
  Premere conferma per memorizzare il post-it
  <br><br>

  <button  id= "conferma" (click) = "conferma()">conferma</button>
  <br><br>
  <button id= "annulla" (click) = "annulla()">annulla</button>
</p>