<!--
manca: ottenere chiavi per cambiare contenuto
-->
<h1>App Post-it</h1>


<div *ngIf="selezione == -1; else Main">
  <app-login [Error]="this.Err" [NKey]="this.NKey" (nuovoKeyEvent)="logIn($event)" (nuovoKEvent)="newKey($event)">
  </app-login>
</div>

<ng-template #Main>

  <ul name="butt">
    <button id="New" (click) = "funSelez(1)" >Crea Nuovo</button>
    <br />
    <br />
    <button (click)= "impor()" id="Importanti">Visualizza importanti</button>
    <br />
  </ul>

  <hr />

  <p>
    Qui verrà visualizzato il messaggio del post-it selezionato.
    <app-read-postit [selezioneC]="selezione" [postSelez]="postSelez" (azzera)="funSelez($event)">
    </app-read-postit>
  </p>


  <hr />

  <p>
    Cliccare sul titolo per leggere il contenuto
  </p>

  <div *ngIf=" visImp==false ;else other_content">
    <ul *ngFor="let postIt of postItArr">
      <button (click) = "leggiMess(postIt.titolo, postIt.mess,postIt.imp, postItArr.indexOf(postIt))" (click) = "funSelez(2)"> {{postIt.titolo}} </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button (click) = "delete(postItArr.indexOf(postIt))"> Cancella </button>
    </ul>
  </div>

  <ng-template #other_content>
    <ul *ngFor="let postIt of postItArr">
      <div *ngIf="postIt.imp == true">
        <button (click) = "leggiMess(postIt.titolo, postIt.mess,postIt.imp, postItArr.indexOf(postIt))" (click) = "funSelez(2)"> {{postIt.titolo}} </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button (click) = "delete(postItArr.indexOf(postIt))"> Cancella </button>
      </div>
    </ul>
  </ng-template>

  <hr />

  <app-new-postit [selezioneA]="selezione" (newPostEvent)="addPost($event)" (azzera)="funSelez($event)">
  </app-new-postit>
  <br />


  <br />
  <button (click)= "funSelez(-1)">Esci</button>

</ng-template>