<h1>App Post-it</h1>

<ul name="butt">
  <button id="New" (click) = "azzera()" (click) = "creaPost()" >Crea Nuovo</button>
  <br />
  <br />
  <button (click)= "impor()">Visualizza importanti</button>
  <button (click)= "tutti()">Visualizza tutti</button>
</ul>

<hr />

<p>
  Qui verrà visualizzato il messaggio del post-it selezionato.
  <app-read-postit [selezioneC]="selezione1" [index]="index" [postItArr]="postItArr"> </app-read-postit>
</p>


<hr />

<p>
  Cliccare sul titolo per leggere il contenuto
</p>
<div *ngIf="soloImp == false; else other_content">
   <ul *ngFor="let postIt of postItArr">
  <button (click) = "leggiMess(postIt.titolo, postIt.mess,postIt.imp, postItArr.indexOf(postIt))"> {{postIt.titolo}} </button>
  </ul>
</div>
<ng-template #other_content>
  <ul *ngFor="let postIt of postItArrImp">
    <button (click) = "leggiMess(postIt.titolo, postIt.mess,postIt.imp, postItArr.indexOf(postIt))"> {{postIt.titolo}} </button>
  </ul>
</ng-template>

<hr />




<app-new-postit [selezioneA]="selezione2" (newPostEvent)="addPost($event)"> </app-new-postit>