<hello name="{{ name }}"></hello>

<ul name="butt">
  <button id="New" (click) = "azzera()" (click) = "creaPost()" >Crea Nuovo</button>
  <br />
  <br />
  <button id="Importanti">Visualizza importanti</button>
</ul>

<hr />

<p>
  Qui verrà visualizzato il messaggio del post-it selezionato.
  <app-read-postit [selezioneC]="selezione1" [index]="index" [postItArr]="postItArr"> </app-read-postit>
</p>


<hr />

<p>
  Cliccare sul titolo per leggere il contenuto
</p>
<ul *ngFor="let postIt of postItArr">
  <button (click) = "leggiMess(postIt.titolo, postIt.mess, postItArr.indexOf(postIt))"> {{postIt.titolo}} </button>
</ul>
<hr />

<app-new-postit [selezioneA]="selezione2" (newCityEvent)="addCity($event)"> </app-new-postit>